/*
 * @Date: 2023-07-02 22:44:18
 * @Author: WaterRec
 */
* {
  padding: 0;
  margin: 0;
  /* 输入框没有选中样式 */
  outline: 0;
  border: 0;
  /* 全部都是borderbox */
  box-sizing: border-box;
}
:root {
  /* 背景图片 */
  --bg-image: url(../public/meinv.jpeg);
  --whiteColor: #ffffff;
  --blackColor: #18314e;
  --grayColor: #857a79;
  --yellowColor: #fdc653;
  --lightYellowColor: #f8d9ab;
  --redColor: #ec6949;
  --greenColor: #16a579;
  --darkGreenColor: #147a88;
  --pinkColor: #e784a6;
  --blueColor: #457494;
  --darkBlueColor: #22324d;
  --redOrangeColor: #ed816b;
  --deepRedColor: #c74828;
}
html {
  /* 设置校验字体10px */
  font-size: 62.5%;
}
svg {
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 576px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 67.5%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 71.5%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 72%;
  }
}
body {
  /* background-image: var(--bg-image); */
  background-color: var(--lightYellowColor);
  /* 相当于设置为100% auto, 图片向下叠加 */
  background-size: cover;
  /* 背景图铺满 */
  background-attachment: fixed;
  /* 背景图片居中现实 */
  background-position: center;
  color: var(--grayColor);
}

a {
  color: var(--whiteColor);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

h2 {
  font-weight: 600;
  font-size: 2.2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.9rem;
}

small {
  font-size: 1rem;
}

p {
  font-size: 1.6rem;
  color: var(--redOrangeColor);
}

b {
  color: var(--redColor);
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.6rem;
  padding: 0.4rem 1rem;
  background-color: var(--redColor);
  border-radius: 3.5rem;
  transition: all 0.5s ease;
  box-shadow: var(--deepRedColor) 1px 1px 2px,
    var(--whiteColor) inset 1.2px 1.6px 2px;
}
main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-3rem);
}
.container .avator {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 1.6rem 0;
  box-shadow: var(--blueColor) 1px 1px 1px;
}
.container .name {
  color: var(--darkGreenColor);
  margin-bottom: 3rem;
}
.container p {
  margin-bottom: 1rem;
}
.container .introduction {
  position: relative;
}
.container .introduction p::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 125%;
  /* background-color: #000; */
  border-width: 2px;
  border-style: solid none none none;
  left: -10%;
  top: -27%;
}
.container .introduction p::before {
  content: "";
  position: absolute;
  width: 96%;
  height: 125%;
  /* background-color: #000; */
  border-width: 2px;
  border-style: none none solid none;
  /* left: -3%; */
  right: 2%;
  top: -27%;
}
.container .welcome {
  margin: 3rem;
}
.container .welcome p {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: var(--redOrangeColor) 1px 1px 1px;
}
.container nav .navbar {
  display: flex;
  width: 36rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container nav .navbar .btn {
  margin-bottom: 3rem;
}
.container nav .navbar .btn a {
  color: var(--yellowColor);
  font-size: 1rem;
}

.container .contact {
  display: flex;
  width: 20rem;
  justify-content: space-around;
}
.container .contact .btn {
  padding: 0;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  display: table;
}
.container .contact .btn a {
  display: table-cell;
  vertical-align: middle;
  transform: translate(2%, 11%);
}
.container .contact .btn a svg {
  width: 1.7rem;
  height: 1.7rem;
}
/* 弹幕 */
.barage {
  z-index: -999;
  width: 100%;
  height: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.barage .text {
  position: absolute;
  /* 动态设置高度 */
  top: var(--bh);
  /* left: 99%; */
  transform: translateX(108vw);
  white-space: nowrap;
  animation: barageMove 20s linear infinite;
}

@keyframes barageMove {
  to {
    transform: translateX(-150%);
  }
}
