*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.box1{
    border: 1px solid red;
    width: 1000px;
    height: 500px;
    position: relative;
    top: 50px;
    left: 50px;
}
.boxtwo{
    background: url(../img/p292775613.png);
    position: relative;
    width: 280px;
    height: 500px;
    background-color: rgb(165, 98, 98);
    background-size: 280px 500px;
    background-repeat: no-repeat;
    
}
.boxthree{
    position: absolute;
    top: 50px;
    left: 280px;
    width: 720px;
    height: 450px;
    background-color: aquamarine;
}
li a{
    position: relative;
    display: block;
    float: left;
    width: 250px;
    height: 50px;
    left: 250px;
    line-height: 50px;
    background-color: cadetblue;
    text-align: center;
}
.test{
    background: url(../img/p292775613.png);
    width: 300px;
    height: 300px;
    position: absolute;
    display:none;
    top: 200px;
    left: 400px;
    background-size: 30px 30px;
}
.boxthree img{
    position: absolute;
    width: 200px;
    height: 200px;
}
.boxthree .img1{
    top: 20px;
    left: 60px;
}
.boxthree .img2{
    top: 175px;
    left: 490px;
}
.boxthree .img3{
    top: 110px;
    left: 280px;
}