*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
img{
    display: block;
    width: 500px;
    height: 300px
}
.box{
    width: 500px;
    height: 300px;
    border: 1px #000 solid;
    position: relative;
    margin: 50px auto;
}
.btn{
    position: absolute;
    right: 5px;
    bottom: 10px;
}
.btn ul li{
    float: left;
}
.btn ul li a{
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 30px;
    color: aliceblue;
    margin-right: 5px;
    float: left;
}
.img{
    overflow: hidden;
    width: 500px;
    height: 300px;
}