/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */

/* * {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #FF7979;
  font-weight: bold;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
} */

* {
  box-sizing: border-box;
}
body {
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}
.container{
  background-color: #fafafa;
  /* 设置旋转基点，设置为左上角 */
  transform-origin: top left;
  padding: 50px;
  /* 添加旋转动画 */
  /* linear：规定以相同的速度开始至结束的过渡效果。
  ease：规定慢速开始逐渐变快然后慢速结束的过渡效果。
  ease-in：规定以慢速度开始的过渡效果。
  ease-out：规定以慢速度结束的过渡效果。
  ease-in-out：规定以慢速开始至结束的过渡效果。 */
  transition: transform 0.5s linear;

  /* 这两条不写会咋样 */
  /* TODO */
  width: 100vw;
  min-height: 100vh;

}

.container.show-nav{
  /* (负号)向逆时针旋转20度 */
  transform: rotate(-20deg);
}

.circle-container{
  /* 固定左上角的按钮位置 */
  /* position: fixed; */
  position: absolute;

  top: -100px;
  left: -100px;
}

.circle{
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle{
  transform: rotate(-70deg);
}

.container button{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%,-50%); */
  height: 100px;
  /* 背景改为和父元素的一样，相当于透明了 */
  background: transparent;
  border: 0;
}

.circle button:focus{
  /* 可以用于输入框除去蓝边 */
  outline: none;
}

.circle button#open{
  left: 60%;
}

.circle button#close{
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.container.show-nav+nav li{
  /* 这一句是干啥的捏 */
  /* 从坐标轴开始向右移动+0px */
  transform: translateX(0px);
  transition-delay: 0.3s;
}

nav{
  position: fixed;
  bottom: 40px;
  left: 0px;
  z-index: 100;
}

nav ul{
  /* 去除圆点 */
  list-style-type: none;
  padding-left: 30px;
  text-transform: uppercase;
}

nav ul li{
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
}
nav ul li+li{
  margin-left: 15px;
  transform: translateX(-150%);
}
nav ul li+li+li{
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a{
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

nav a:hover{
  color: #ff7979;
  /* 字体加粗 */
  font-weight: bold;
}

.content img{
  max-width: 100%;
}

